* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body * {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
body {
  overflow: hidden;
}
#viewport {
  width: 100vw;
  height: 100vh;
  margin: none;
}
#img {
  position: absolute;
  background-image: url(./assets/imagem.jpg);
  height: 107.3rem;
  width: 133.1rem;
  left: -7.3rem;
  top: -2rem;
  animation: dissolve_back 150ms ease-out;
  filter: blur(8px);
}
#img:hover {
  animation: dissolve 150ms ease-out;
  filter: blur(0px);
}
#fundo {
  position: absolute;
  height: 100.7rem;
  width: 53.3rem;
  left: 125.8rem;
  background: #ffffff;
}
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 14rem 7.3rem 9.8rem 6rem;
}
a {
  text-decoration: none;
  justify-content: center;
}
#logo {
  padding-bottom: 6rem;
}
#logotipo {
  display: flex;
  align-items: center;
  background-image: url(./assets/logotipo.svg);
  border: transparent;
  width: 32.9rem;
  height: 5.4rem;
}
#logotipo:hover {
  background-image: url(./assets/logotipohover.svg);
}
.cabecalho {
  display: flex;
  flex-direction: column;
}
.cabecalho p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(115, 115, 115, 1);
}
form {
  display: flex;
  flex-direction: column;
}
.inputlabel {
  display: flex;
  flex-direction: column-reverse;
}
#form .label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #989898;
  padding-bottom: 2rem;
}
#form .input {
  border-style: none;
  border-bottom: 0.2rem solid #dbdbdb;
  width: 40rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  margin-bottom: 3.2rem;
  outline: none;
  color: #989898;
}
#form .input:focus {
  border-color: #0587ff;
  color: #262626;
}
#form input:focus-within + label {
  color: rgba(38, 38, 38, 1);
}
#form input:hover,
#form label:hover {
  cursor: pointer;
}
#nuvem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #57aeff;
  width: 40rem;
  height: 4.8rem;
  border-radius: 7.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: rgba(87, 174, 255, 1);
  gap: 1.6rem;
  margin: 2.9rem auto 11.3rem;
}
#nuvem:hover {
  border: 2px solid rgba(5, 135, 255, 1);
  background: rgba(5, 135, 255, 0.05);
  color: rgba(5, 135, 255, 1);
}
#cadastrar {
  background: #57aeff;
  border: none;
  border-radius: 6.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 20rem;
  color: #ffffff;
  padding: 1.6rem;
  width: 25rem;
}
#cadastrar:hover {
  background: #0587ff;
  cursor: pointer;
}
#login {
  background: none;
  border: none;
  color: rgba(152, 152, 152, 1);
}
#curriculo {
  display: none;
}
#rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-left: 4.4rem;
}
@keyframes dissolve {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0px);
  }
}
@keyframes dissolve_back {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(8px);
  }
}
