:root {
  font-size: 62.5%;
  --label-font-color: #989898;
  --input-font-color: #989898;
  --input-font-color-focus: #262626;
  --input-border-color: 0.2rem solid #dbdbdb;
  --button-font-color: #ffffff;
  --button-border-color: 0.2rem solid #57aeff;
  --button-border-color-hover: 0.2rem solid #0587ff;
  --label-text-font-style: normal 400 1.8rem "Roboto", sans-serif;
  --image-url: url(./assets/imagem.jpg);
  --logotipo-url: url(./assets/logotipo.svg);
  --logotipo-url-hover: url(./assets/logotipohover.svg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
body * {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
body {
  overflow: hidden;
}
#viewport {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#imagem {
  position: absolute;
  height: 107vh;
  width: auto;
  left: -7.3rem;
  top: -2rem;
}
#img {
  position: absolute;
  background-image: var(--image-url);
  width: calc(1.24 * vh);
  height: 107vh;
  animation: dissolve_back 150ms ease-out;
  filter: blur(12px);
}
#img:hover {
  animation: dissolve 150ms ease-out;
  filter: blur(0px);
}
#fundo {
  position: absolute;
  height: 100vh;
  width: 53.3rem;
  right: 0;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
#lateral {
  width: 53.3rem;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  justify-content: center;
}
#cabecalho {
  padding-bottom: 6.1rem;
}
#logotipo {
  display: flex;
  align-items: center;
  background-image: var(--logotipo-url);
  border: none;
  width: 32.9rem;
  height: 5.4rem;
}
#logotipo:hover {
  background-image: var(--logotipo-url-hover);
}
.logo {
  display: flex;
  flex-direction: column;
}
#cabecalho p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(115, 115, 115, 1);
  margin-left: 6.15rem;
}
form {
  display: flex;
  flex-direction: column;
}
.inputlabel {
  display: flex;
  flex-direction: column-reverse;
}
#myForm .label {
  font: var(--label-text-font-style);
  color: var(--label-font-color);
}
#myForm .input {
  border-style: none;
  border-bottom: var(--input-border-color);
  width: 40rem;
  height: 4rem;
  color: var(--input-font-color);
  background-color: transparent;
  margin-bottom: 3.2rem;
  outline: none;
}
#myForm .input:focus {
  border-color: #0587ff;
  color: var(--input-font-color-focus);
}
#myForm input:focus-within + label {
  color: var(--input-font-color-focus);
}
#myForm input:hover,
#myForm label:hover {
  cursor: pointer;
}
#nuvem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--button-border-color);
  width: 40rem;
  height: 4.8rem;
  border-radius: 7.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: rgba(87, 174, 255, 1);
  gap: 1.6rem;
  margin: 2.9rem auto 11.3rem;
}
#nuvem img {
  width: 2.4rem;
  height: 2.4rem;
}
#nuvem:hover {
  border: var(--button-border-color-hover);
  background: rgba(5, 135, 255, 0.05);
  color: rgba(5, 135, 255, 1);
}
#cadastrar {
  background: #57aeff;
  border: none;
  border-radius: 6.5rem;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
  padding: 1.6rem;
  width: 25rem;
  height: 5.5rem;
}
#cadastrar:hover {
  background: #0587ff;
  cursor: pointer;
}
#curriculo {
  display: none;
}
#rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  background: none;
  border: none;
  color: rgba(152, 152, 152, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  padding: 1.6rem;
}
#login img {
  width: 2.4rem;
  height: 2.4rem;
}

@keyframes dissolve {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0px);
  }
}
@keyframes dissolve_back {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(8px);
  }
}
