* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
body * {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}
body {
  overflow: hidden;
}
#viewport {
  width: 100vw;
  height: 100vh;
  margin: none;
}
#img {
  position: absolute;
  background-image: url(./assets/imagem.jpg);
  width: 75vw;
  height: 107vh;
  left: -73px;
  top: -20px;
  animation: dissolve_back 150ms ease-out;
  filter: blur(8px);
}
#img:hover {
  animation: dissolve 150ms ease-out;
  filter: blur(0px);
}
#fundo {
  position: absolute;
  height: 100vh;
  width: 39rem;
  background: #ffffff;
  right: 6.1rem;
}
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 11rem auto 3rem 5rem;
}
a {
  text-decoration: none;
  justify-content: center;
}
#logo {
  padding-bottom: 5rem;
}
#logotipo {
  display: flex;
  align-items: center;
  background-image: url(./assets/logotipo.svg);
  border: transparent;
  width: 28.1rem;
  height: 5rem;
  margin-left: -1rem;
}
#logotipo:hover {
  background-image: url(./assets/logotipohover.svg);
}
.cabecalho {
  display: flex;
  flex-direction: column;
}
.cabecalho p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.35rem;
  color: rgba(115, 115, 115, 1);
  margin: -0.4rem auto auto 4.1rem;
}
form {
  display: flex;
  flex-direction: column;
}
.inputlabel {
  display: flex;
  flex-direction: column-reverse;
}
#form .label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #989898;
  padding-bottom: 1.4rem;
}
#form .input {
  border-style: none;
  border-bottom: 0.3rem solid #dbdbdb;
  width: 33.9rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: transparent;
  margin-bottom: 3rem;
  outline: none;
  color: #989898;
}
#form .input:focus {
  border-color: #0587FF;
  color: #262626;
}
#form input:focus-within + label{
  color: rgba(38, 38, 38, 1);
}
#form input:hover, #form label:hover {
  cursor: pointer;
}
#nuvem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid #57aeff;
  width: 34rem;
  height: 4rem;
  border-radius: 7.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: rgba(87, 174, 255, 1);
  gap: 1.6rem;
  margin: 1.8rem auto 9.8rem;
}
#nuvem:hover {
  border: 2px solid rgba(5, 135, 255, 1);
  background: rgba(5, 135, 255, 0.05);
  color: rgba(5, 135, 255, 1);
}
#cadastrar {
  background: #57AEFF;
  border: none;
  border-radius: 6.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  padding: 1.2rem;
  width: 21rem;
}
#cadastrar:hover {
  background: #0587FF;
  cursor: pointer;
}
#login {
  background: none;
  border: none;
  color: rgba(152, 152, 152, 1);
}
#curriculo {
  display: none;
}
#rodape {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-left: 3.5rem;
}
@keyframes dissolve {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0px);
  }
}
@keyframes dissolve_back {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(8px);
  }
}
